@if (product) {
  @let viewportData = viewport.Viewport$ | async;
  <div class="additional-info">
    <div class="sections-row-sticky" [class]="isSticky ? 'sticky' : 'unsticky'">
      @if (viewportData) {
        <div class="row-wrapper">
          @if (product.accessories.length > 0) {
            <a>
              <h4 [class.active]="activeSection === 0" class="accessories" translate="accessories"></h4>
            </a>
          }
          @if (product.similarProductsList.length > 0) {
            <a>
              <h4 [class.active]="activeSection === 1" class="sameProducts" translate="same"></h4>
            </a>
          }
          @if (product.specificationGroup.length > 0 && viewportData.width > 1024) {
            <a>
              <h4 [class.active]="activeSection === 2" class="additionalFeatures" translate="features"></h4>
            </a>
          }
          @if (viewportData.width > 1024) {
            <a>
              <h4 [class.active]="activeSection === 3" class="branches" translate="branches"></h4>
            </a>
          }
        </div>
      }
    </div>
    <div class="sections-row">
      <div class="row-wrapper">
        @if (product.accessories.length > 0) {
          <a>
            <h4 translate="accessories"></h4>
          </a>
        }
        @if (product.similarProductsList.length > 0) {
          <a>
            <h4 translate="same"></h4>
          </a>
        }
        @if (product.specificationGroup.length > 0) {
          <a>
            <h4 translate="features"></h4>
          </a>
        }
        <a>
          <h4 translate="branches"></h4>
        </a>
      </div>
    </div>
    <div class="additional-sections">
      <app-accesories
        #observeSection
        data-section="0"
        id="accessories"
        [accesories]="product.accessories"
      ></app-accesories>
      <app-similar #observeSection data-section="1" [similarProductsList]="product.similarProductsList"></app-similar>
      <app-features
        #observeSection
        data-section="2"
        id="features"
        [features]="product.specificationGroup"
      ></app-features>
      <app-warranty
        [certificateFileUrl]="product.certificateFileUrl"
        [manualsFileUrl]="product.manualsFileUrl"
      ></app-warranty>
      <app-branches
        #observeSection
        data-section="3"
        id="branches"
        [availabilityInStores]="productResponse?.availabilityInStores"
      ></app-branches>
    </div>
  </div>
} @else {
  <content-loader [viewBox]="'0 0 716 414'">
    <svg:rect x="0" y="26" rx="4" ry="4" width="300" height="20" fill="currentColor" />
    <svg:rect x="0" y="78" rx="4" ry="4" width="716" height="300" fill="currentColor" />
    <svg:rect x="0" y="408" rx="4" ry="4" width="716" height="2" fill="currentColor" />
  </content-loader>
  <content-loader [viewBox]="'0 0 716 414'">
    <svg:rect x="0" y="26" rx="4" ry="4" width="300" height="20" fill="currentColor" />
    <svg:rect x="0" y="78" rx="4" ry="4" width="716" height="300" fill="currentColor" />
    <svg:rect x="0" y="408" rx="4" ry="4" width="716" height="2" fill="currentColor" />
  </content-loader>
  <content-loader [viewBox]="'0 0 716 410'">
    <svg:rect x="0" y="26" rx="4" ry="4" width="300" height="20" fill="currentColor" />
    <svg:rect x="0" y="78" rx="4" ry="4" width="716" height="300" fill="currentColor" />
    <svg:rect x="0" y="408" rx="4" ry="4" width="716" height="2" fill="currentColor" />
  </content-loader>
  <content-loader [viewBox]="'0 0 716 410'">
    <svg:rect x="0" y="26" rx="4" ry="4" width="300" height="20" fill="currentColor" />
    <svg:rect x="0" y="78" rx="4" ry="4" width="716" height="300" fill="currentColor" />
    <svg:rect x="0" y="408" rx="4" ry="4" width="716" height="2" fill="currentColor" />
  </content-loader>
  <content-loader [viewBox]="'0 0 716 410'">
    <svg:rect x="0" y="26" rx="4" ry="4" width="300" height="20" fill="currentColor" />
    <svg:rect x="0" y="78" rx="4" ry="4" width="716" height="300" fill="currentColor" />
    <svg:rect x="0" y="408" rx="4" ry="4" width="716" height="2" fill="currentColor" />
  </content-loader>
  <content-loader [viewBox]="'0 0 716 410'">
    <svg:rect x="0" y="26" rx="4" ry="4" width="300" height="20" fill="currentColor" />
    <svg:rect x="0" y="78" rx="4" ry="4" width="716" height="300" fill="currentColor" />
    <svg:rect x="0" y="408" rx="4" ry="4" width="716" height="2" fill="currentColor" />
  </content-loader>
  <content-loader [viewBox]="'0 0 716 410'">
    <svg:rect x="0" y="26" rx="4" ry="4" width="300" height="20" fill="currentColor" />
    <svg:rect x="0" y="78" rx="4" ry="4" width="716" height="300" fill="currentColor" />
    <svg:rect x="0" y="408" rx="4" ry="4" width="716" height="2" fill="currentColor" />
  </content-loader>
}
