@use '../../../styles.scss' as *;

:host {
  .sections-row-sticky {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 10000;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    background-color: rgba(237, 235, 235, 0.94);
    border-top: 0 solid $white-main;
    opacity: 0;

    @media (width <= 1024px) {
      top: 0;
      background-color: $white-main;
      height: 50px;
    }

    .row-wrapper {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
      display: flex;
      align-items: center;
      gap: 30px;

      @media (width <= 1024px) {
        gap: 10px;
        padding: 0 20px;
      }

      a {
        h4 {
          &.active {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-main;
            opacity: 1;
            cursor: pointer;
            height: 70px;
            text-align: center;
            display: flex;
            align-items: center;
            border-bottom: 2px solid $orange-main;

            @media (width <= 1024px) {
              height: 50px;
              font-weight: 700;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }

    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    &.sticky {
      transform: translateY(0);
      opacity: 1;

      @media (width > 1024px) {
        border-top: 3px solid $white-main;
      }
    }

    @media (width <= 1024px) {
      &.unsticky {
        transform: translateY(-50px);
        opacity: 0;
      }
    }

    &.unsticky {
      transform: translateY(-70px);
      opacity: 0;
    }
  }

  .sections-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 20px;

    .row-wrapper {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (width <= 1024px) {
        gap: 10px;
      }
    }
  }

  .row-wrapper {
    a {
      color: inherit;
      text-decoration: none;

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        height: 70px;
        opacity: 0.5;
        color: rgba($black-main, 0.8);
        cursor: pointer;
        text-align: center;
        border-bottom: none;
        @include bold;

        @media (width <= 1024px) {
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          height: 50px;
        }
      }
    }
  }
}
