@use '../../styles.scss' as *;

:host {
  flex-grow: 1;
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 30px;

    .title {
      width: 100%;
      padding-bottom: 24px;
      margin-bottom: 30px;
      border-bottom: 2px solid $gray-primary;
      h1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $black-main;
        @include bold;
      }
    }

    &::ng-deep {
      .content-12 {
        .MsoNormal {
          line-height: 24px !important;
          max-height: 24px;
        }

        p {
          &:first-child {
            @include bold;
          }
        }
      }

      .content-10 {
        a {
          color: $black-main;
          text-decoration: none;
        }
        h1 {
          @include bold;
          height: 48px;
          position: relative;
          text-wrap: nowrap;
          span {
            position: absolute;
            bottom: 3.5px;
          }
        }
        p {
          @include regular;
        }
        p {
          &:first-child {
            @include bold;
          }
        }
      }

      .content-20 {
        a {
          color: $black-main;
          text-decoration: none;
        }
        h1 {
          @include bold;
          height: 48px;
          position: relative;
          text-wrap: nowrap;
          span {
            position: absolute;
            bottom: 3.5px;
          }
        }
        p {
          @include regular;
        }
        p {
          &:first-child {
            @include bold;
          }
        }
      }

      .content-1 {
        div {
          &:first-child {
            margin-top: calc(50px - 30px) !important;
          }
        }
        a {
          color: $black-main;
          text-decoration: none;
        }
        h1 {
          @include bold;
          font-size: 40px;
        }
        p {
          @include regular;
        }
        p {
          &:first-child {
            @include bold;
          }
        }
      }

      .content-4 {
        h5 {
          &:first-child {
            b {
              p {
                margin-top: 0 !important;
              }
            }
          }
        }
      }

      .content-5 {
        max-width: 1200px;
        padding: 0 15px;

        p {
          &:first-child {
            span {
              span {
                font-size: 18px !important;
                @include regular;
              }
            }
          }
        }
      }

      .content-8 {
        h1 {
          @include bold;
          font-size: 40px;
        }

        p {
          @include regular;
        }
      }

      .content-18 {
        span {
          @include regular;
        }
      }

      .content-3 {
        div {
          &:first-child {
            margin-top: calc(50px - 28px) !important;
          }
        }

        span,
        #text,
        * {
          @include regular;
        }
      }

      .content-16 {
        h5 {
          &:first-child {
            margin-top: 0 !important;
          }
        }
      }
    }
  }
}
