@if (withNumber) {
  <form [formGroup]="withNumber" (submit)="onSubmit()">
    <div class="inputs">
      <div class="country-code" (click)="authService.toggleFlags()" (click)="$event.stopPropagation()">
        <div class="selected-country">
          <div [class]="'flag-c ' + currentCountry.iso2"></div>
        </div>
        <div class="c">{{ currentCountry.dialCode }}</div>
        <ul
          [style.visibility]="(authService.showFlags | async) ? 'visible' : 'hidden'"
          (click)="$event.stopPropagation()"
        >
          <li class="search">
            <input #search type="search" [placeholder]="'search' | translate" (input)="onCountrySearch(search.value)" />
          </li>
          @for (country of filteredCountries; track $index) {
            <li class="country" (click)="setCountry($index)">
              <div [class]="'flag ' + country.iso2"></div>
              <span class="country-name">{{ country.name }}</span>
              <span class="dial-code">{{ country.dialCode }}</span>
            </li>
          } @empty {
            <li class="no-entries-message">
              <span translate="nothing"></span>
            </li>
          }
        </ul>
      </div>
      <div
        class="phone"
        (click)="focusPhone()"
        [style.border]="displayMsg ? '1px solid rgb(255, 0, 0)' : '0px solid rgb(255, 0, 0)'"
        [style.backgroundColor]="displayMsg ? '#fff' : '#f2f2f2'"
      >
        <input #phone type="text" (input)="inputChange()" formControlName="phone" />
        <label translate="phoneNumber" [class.active]="this.withNumber.get('phone')?.value"></label>
      </div>
      @if (displayMsg) {
        <div class="msg" translate="invalid_data"></div>
      }
    </div>
    <button type="submit">
      @if (!showLoader) {
        <h4 translate="sendCode"></h4>
      } @else {
        <app-pulse-loader color="#fff"></app-pulse-loader>
      }
    </button>
  </form>
}
