<div class="about">
  <div class="about-t">
    <h4 class="outh" translate="get_acquainted_with_warranty"></h4>
    <div (click)="toggleWarranty()" class="warranty-btn about-b">
      <h4 translate="warrantyConditions"></h4>
    </div>
  </div>
  @if (manualsFileUrl) {
    <div class="about-t">
      <h4 class="outh" translate="get_acquainted_with_manual"></h4>
      <div (click)="openExternalLink(manualsFileUrl)" class="manual-btn about-b">
        <h4 translate="manual"></h4>
      </div>
    </div>
  }
  @if (certificateFileUrl) {
    <div class="about-t">
      <h4 class="outh" translate="get_acquainted_with_certificate"></h4>
      <div (click)="openExternalLink(certificateFileUrl)" class="certificatie-btn about-b">
        <h4 translate="certificate"></h4>
        4>
      </div>
    </div>
  }
</div>
