<div class="privacy-policy">
  <div class="privacy-policy-header">
    <h4 class="privacy-policy-title">უსაფრთხოების პოლიტიკა</h4>
  </div>
  <div class="privacy-policy-content">
    <p class="privacy-policy-paragraph">
      შპს “ზუმერი ჯორჯია”<br />
      იურიდიული მისამართი: თბილისი, ცაბაძის ქ. #8 <br />
      საიდენტიფიკაციო ნომერი: 202462717<br />
      ვებგვერდი:
      <a href="www.zoommer.ge" class="privacy-policy-link">www.zoommer.ge</a> <br />
      ელ. ფოსტა:
      <a href="mailto:info@zoommer.ge" class="privacy-policy-link">info&commat;zoommer.ge</a> <br />
    </p>

    <br />

    <p class="privacy-policy-section-title">1. პერსონალურ მონაცემთა დამუშავების მიზანი</p>
    <p class="privacy-policy-paragraph">
      1.1 ჩვენ ვამუშავებთ თქვენს პერსონალურ მონაცემებს მხოლოდ იმ შემთხვევაში, თუ თქვენ იყენებთ ჩვენს ვებგვერდს
      <a href="www.zoommer.ge" class="privacy-policy-link">www.zoommer.ge</a> პროდუქტის შეძენის ან/და მომსახურების
      მოთხოვნის მიზნით.
    </p>

    <p class="privacy-policy-section-title">2. მონაცემთა ტიპები და დამუშავების საფუძველი</p>
    <p class="privacy-policy-paragraph">
      2.1 ჩვენ ვამუშავებთ თქვენს პერსონალურ მონაცემებს მხოლოდ თქვენს მიერ ჩვენს ვებ-გვერდზე www.zoommer.geპროდუქტის
      შეძენის ან/და მომსახურების განხორციელების მოთხოვნის შემთხვევაში. თქვენს მიერ ჩვენი ვებ-გვერდის ვიზიტის, ასევე
      თქვენს მიერ ცალკეული საქონლის მახასიათებლების დათვალიერების შემთხვევებში, კომპანია “ზუმერი ჯორჯია“ არ ამუშავებს
      თქვენს პერსონალურ მონაცემებს.
    </p>
    <p class="privacy-policy-paragraph">
      2.2 თქვენი პერსონალური მონაცემები შესაძლებელია დამუშავებულ იქნეს თქვენთვის პროდუქტის მიწოდების და მიწოდების
      პრობლემების შემთხვევაში, ასევე თქვენი საჩივრებისა და თქვენს მიერ შეძენილი პროდუქტის საგარანტიო პრეტენზიების
      დასამუშავებლად. გარდა ამისა, თქვენი პერსონალური მონაცემები დამუშავდება იმის უზრუნველსაყოფად, რომ თქვენ მიაღწიეთ
      ონლაინ შეძენისათვის კანონმდებლობით დადგენილ სავალდებულო მინიმალურ ასაკს.
    </p>

    <p class="privacy-policy-section-title">3. მონაცემთა შენახვის ვადები</p>
    <p class="privacy-policy-paragraph">
      3.1 თქვენს მიერ ვებ-გვერდის მეშვეობით პროდუქტის ონლაინ შეძენის ან/და მომსახურების გაწევის მოთხოვნის მიზნით, შპს
      “ზუმერი ჯორჯია” ახორციელებს შემდეგი პერსონალური მონაცემების დამუშავებას: სახელი, გვარი, პირადი ნომერი, ელ. ფოსტა,
      მობილურის ნომერი, დაბადების თარიღი, საქონლის მიწოდების ადგილის მისამართი და ქვეყანა. 3.2 “ზუმერი ჯორჯიას” მიერ
      ვებგვერდის მეშვეობით არ ხორციელდება განსაკუთრებული კატეგორიის, ბიომეტრიული და გენეტიკური მონაცემების დამუშავება.
      ჩვენ არ ვამუშავებთ თქვენს პერსონალურ მონაცემებს, რომელიც დაკავშირებულია საბანკო ოპერაციების წარმოებასთან,
      მაგალითად, როგორიცაა ბარათითი გადახდა, ინერნეტ განვადება, საბანკო გადარიცხვა. აღნიშნული ოპერაციების განხორციელების
      შემთხვევაში თქვენი პერსონალური მონაცემების დამუშავება განხორციელდება შესაბამისი საფინანსო დაწესებულების მიერ.
    </p>

    <p class="privacy-policy-section-title">4. მონაცემთა გაზიარება მესამე პირებთან</p>
    <p class="privacy-policy-paragraph">
      4.1 ზუმერი ჯორჯიას ვებ-გვერდის მეშვეობით ონლაინ შეძენის განხორციელების ან/და მომსახურების გაწევის მოთხოვნის
      შემთხვევაში, თქვენი პერსონალური მონაცემები შესაძლებელია გადაცემულ იქნეს “ზუმერი ჯორჯიას” ქვეკონტრაქტორებისათვის,
      მიმწოდებლებისათვის, საკურიერო მომსახურების გამწევი კომპანიებისათვის (მაგალითად, როგორიცაა საქართველოს ფოსტა, DHL,
      TNT და სხვა) ან სხვა შვილობილო კომპანიებისათვის, რამდენადაც ეს აუცილებელია თქვენთან გაფორმებული ხელშეკრულებით
      ნაკისრი ვალდებულებების შესასრულებლად.
    </p>

    <p class="privacy-policy-section-title">5. მომხმარებლის უფლებები</p>
    <p class="privacy-policy-paragraph">
      5.1 თქვენი პერსონალური მონაცემების შენახვა განხორციელდება მხოლოდ თქვენს მიერ ანგარიშის გახსნის შემთხვევაში და მათი
      შენახვა ხდება იმ ვადით, რამდენადაც არსებობს რეგისტრირებული ანგარიში. თქვენი პერსონალური მონაცემები წაიშლება,
      როგორც კი გაუქმდება თქვენი ანგარიში. გარდა ამისა, მონაცემები წაიშლება, თუ თქვენ გააუქმებთ თქვენს მიერ გაცემულ
      თანხმობას პერსონალურ მონაცმეთა დამუშავებაზე ან თქვენ მოითხოვთ პერსონალური მონაცემების წაშლას და მონაცემთა “ზუმერი
      ჯორჯია” კანონმდებლობის მოთხოვნების მიხედვით არ საჭიროებს მონაცემთა შენახვას.
    </p>

    <p class="privacy-policy-section-title">6. ქუქი ფაილები</p>
    <p class="privacy-policy-paragraph">
      6.1 თქვენ, როგორც პერსონალურ მონაცემთა სუბიექტს, უფლება გაქვთ მოითხოვოთ: ინფორმაცია თქვენი პერსონალური მონაცემების
      დამუშავებაზე “ზუმერი ჯორჯიას” უფლებამოსილი პირების შესახებ; თქვენი პერსონალური მონაცემების დამუშავების მიზანი და
      სამართლებრივი საფუძველი; ინფორმაცია თქვენი პერსონალურ მონაცემების მესამე პირებისათვის გადაცემის შესახებ;
      პერსონალური მონაცემების დამუშავების შესახებ თქვენს მიერ გაცემული თანხმობის გაუქმება; არასწორი ან არასრულყოფილი
      პერსონალური მონაცემების განახლება და შესწორება; თქვენი პერსონალური მონაცემების წაშლა და განადგურება. ეს უფლება არ
      არის აბსოლუტური და შეიძლება განხორციელდეს მხოლოდ განსაზღვრულ შემთხვევებში; გასაჩივრების უფლება. “ზუმერი ჯორჯიას”
      მიერ თქვენი პერსონალურ მონაცემების დამუშავების წესის დარღვევის შემთხვევაში, თქვენ უფლება გაქვთ მიმართოთ
      საქართველოს სახელმწიფო ინსპექტორის სამსახურს (მის: თბილისი, ნ. ვაჩნაძის ქ. #7, ელ. ფოსტა:
      office&commat;stateinspector.ge) ან თბილისის საქალაქო სასამართლოს (მის: თბილისი, დავით აღმაშენებლის ხეივანი N64,
      ელ. ფოსტა: tccinfo&commat;court.ge ) და გაასაჩივროთ “ზუმერი ჯორჯიას” მიერ თქვენი პერსონალური მონაცემების
      დამუშავება. თქვენ უფლება გაქვთ, საქმის განმხილველ ორგანოს მოსთხოვოთ თქვენი პერსონალური მონაცემების დაბლოკვა
      გადაწყვეტილების გამოტანამდე;
    </p>

    <p class="privacy-policy-section-title">7. პერსონალურ მონაცემთა უსაფრთხოება</p>
    <p class="privacy-policy-paragraph">
      7.1 “ზუმერი ჯორჯია” პასუხისმგებელია, რომ მიიღოს ყველა ორგანიზაციული და ტექნიკურ ზომები და შეასრულოს საქართველოს
      კანონმდებლობით დადგენილი მოთხოვნები იმისათვის, რომ უზრუნველყოფილ და დაცულ იქნეს თქვენი პერსონალური მონაცემები
      შემთხვევითი ან უკანონო განადგურებისაგან, შეცვლისაგან, გამჟღავნებისაგან, მოპოვებისაგან, ნებისმიერი სხვა ფორმით
      უკანონო გამოყენებისა და შემთხვევითი ან უკანონო დაკარგვისაგან.
    </p>

    <p class="privacy-policy-section-title">8. პერსონალურ მონაცემთა სუბიექტის თანხმობა</p>
    <p class="privacy-policy-paragraph">
      8.1 ზუმერი ჯორჯიას მიერ თქვენი პერსონალური მონაცემების დამუშავების სამართლებრივი საფუძველი არის “პერსონალურ
      მონაცემთა დაცვის შესახებ” საქართველოს კანონი და “კონვენცია პერსონალური მონაცემების ავტომატური დამუშავებისას
      ფიზიკური პირების დაცვის შესახებ”. 8.2 გთხოვთ გაითვალისწინოთ, რომ თქვენ არც კანონით და არც ხელშეკრულებით არ ხართ
      ვალდებული მოგვაწოდოთ თქვენი პერსონალური მონაცემები. მხოლოდ მათზე მიუწვდომლობამ შესაძლებელია გამოიწვიოს ის, რომ
      თქვენ ვერ შესძლებთ ან სრული მოცულობით ვერ შესძლებთ ზუმერი ჯორჯიას ვებ-გვერდის მეშვეობით პროდუქტის ონლიან შეძენას
      ან/და სხვა მომსახურების მიღებას.
    </p>

    <p class="privacy-policy-paragraph">
      პერსონალურ მონაცემთა სუბიექტის თანხმობა გავეცანი “შპს “ზუმერი ჯორჯიას” კონფიდენციალურობის პოლიტიკას და ვაცხადებ
      თანხმობას, რომ შპს “ზუმერი ჯორჯიამ” ვებ-გვერდის www.zoommer.ge მეშვეობით დაამუშავოს ჩემი პერსონალური მონაცემები
      აღნიშნული პოლიტიკისა და საქართველოს კანონმდებლობის მიხედვით.
    </p>
  </div>
</div>
