@use '../../../styles.scss' as *;

:host {
  .catalog {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr !important;
    gap: 20px;
    width: 100%;

    @media (width <= 1250px) {
      grid-template-columns: repeat(3, 1fr);
    }

    &.active {
      grid-template-columns: repeat(4, 1fr) !important;
    }

    img {
      width: 100%;
    }
  }

  ::ng-deep {
    .skeleton {
      display: grid;
      height: fit-content;
      grid-template-columns: repeat(4, 1fr) !important;
      gap: 20px;
      width: 100%;

      @media (width <= 1250px) {
        grid-template-columns: repeat(3, 1fr) !important;
      }

      .product-skelet {
        display: flex;
        justify-content: center;
        height: 303px;
        width: 160px;
        position: relative;
        left: 5px;
      }
    }
  }

  .see-more-content {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 40px;

    .next {
      width: 200px;
      height: 40px;
      background: $gray-primary;
      border-radius: 4px;
      padding: 10px 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      overflow: hidden;
      pointer-events: auto;
      opacity: 1;
      cursor: pointer;
      border: none;

      h4 {
        position: relative;
        color: $black-main;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        opacity: 0.8;
        z-index: 1;
        @include bold;
      }
    }
  }
}
