@if (product) {
  <div (click)="navigate(route)" [class]="showGrid === 'true' ? 'product' : 'product-grid'">
    <div class="image">
      <img [src]="product.imageUrl" />
      @if (product.labelText) {
        <div class="best" [style.display]="showGrid === 'true' ? 'static' : 'none'">{{ product.labelText }}</div>
      }
    </div>
    @if (showGrid === 'false') {
      <div class="unity">
        <div class="description">
          <div class="price">
            <h4 [style.color]="product.previousPrice ? '#ec5e2a' : '#000'">{{ product.price }} ₾</h4>
            @if (product.previousPrice) {
              <span>{{ product.previousPrice }} ₾</span>
            }
          </div>
          @if (product.price > 0) {
            @if (currentLang === 'ka') {
              <p>
                თვეში:
                <span>{{ roundPrice(product.price / 36) }} ₾</span>
                -დან
              </p>
            } @else {
              <p>
                Per month: from <span>{{ roundPrice(product.price / 36) }} ₾</span>
              </p>
            }
          }
          <a>{{ product.name }}</a>
        </div>
        <div class="buy">
          <div class="compare">
            <img loading="lazy" src="https://zoommer.ge/icons/compare-card.svg" />
          </div>
          <div class="add">
            <img loading="lazy" src="https://zoommer.ge/icons/cart-button.svg" />
            @if (currentLang === 'ka') {
              <h4>დამატება</h4>
            } @else {
              <h4>Add</h4>
            }
          </div>
        </div>
      </div>
    } @else {
      <div class="description">
        <div class="price">
          <h4 [style.color]="product.previousPrice ? '#ec5e2a' : '#000'">{{ product.price }} ₾</h4>
          @if (product.previousPrice) {
            <span>{{ product.previousPrice }} ₾</span>
          }
        </div>
        @if (product.price > 0) {
          @if (currentLang === 'ka') {
            <p>
              თვეში:
              <span>{{ roundPrice(product.price / 36) }} ₾</span>
              -დან
            </p>
          } @else {
            <p>
              Per month: from <span>{{ roundPrice(product.price / 36) }} ₾</span>
            </p>
          }
        }
        <a>{{ product.name }}</a>
      </div>
      <div class="buy">
        <div class="compare">
          <img src="https://zoommer.ge/icons/compare-card.svg" />
        </div>
        <div class="add">
          <img src="https://zoommer.ge/icons/cart-button.svg" />
          @if (currentLang === 'ka') {
            <h4>დამატება</h4>
          } @else {
            <h4>Add</h4>
          }
        </div>
      </div>
    }
  </div>
} @else {
  <div (click)="navigate(route)" class="product">
    <div class="image">
      <img [src]="imageUrl" />
      @if (labelText) {
        <div class="best">{{ labelText }}</div>
      }
    </div>
    @if (showGrid === 'false') {
      <div class="unity">
        <div class="description">
          <div class="price">
            <h4 [style.color]="productSalePrice ? '#ec5e2a' : '#000'">{{ productPrice }} ₾</h4>
            @if (productSalePrice) {
              <span>{{ productSalePrice }} ₾</span>
            }
          </div>
          @if (productPrice && productPrice > 0) {
            @if (currentLang === 'ka') {
              <p>
                თვეში:
                <span>{{ roundPrice(productPrice / 36) }} ₾</span>
                -დან
              </p>
            } @else {
              <p>
                Per month: from <span>{{ roundPrice(productPrice / 36) }} ₾</span>
              </p>
            }
          }
          <a>{{ productName }}</a>
        </div>
        <div class="buy">
          <div class="compare">
            <img loading="lazy" src="https://zoommer.ge/icons/compare-card.svg" />
          </div>
          <div class="add">
            <img loading="lazy" src="https://zoommer.ge/icons/cart-button.svg" />
            @if (currentLang === 'ka') {
              <h4>დამატება</h4>
            } @else {
              <h4>Add</h4>
            }
          </div>
        </div>
      </div>
    } @else {
      <div class="description">
        <div class="price">
          <h4 [style.color]="productSalePrice ? '#ec5e2a' : '#000'">{{ productPrice }} ₾</h4>
          @if (productSalePrice) {
            <span>{{ productSalePrice }} ₾</span>
          }
        </div>
        @if (productPrice && productPrice > 0) {
          @if (currentLang === 'ka') {
            <p>
              თვეში:
              <span>{{ roundPrice(productPrice / 36) }} ₾</span>
              -დან
            </p>
          } @else {
            <p>
              Per month: from <span>{{ roundPrice(productPrice / 36) }} ₾</span>
            </p>
          }
        }
        <a>{{ productName }}</a>
      </div>
      <div class="buy">
        <div class="compare">
          <img src="https://zoommer.ge/icons/compare-card.svg" />
        </div>
        <div class="add">
          <img src="https://zoommer.ge/icons/cart-button.svg" />
          @if (currentLang === 'ka') {
            <h4>დამატება</h4>
          } @else {
            <h4>Add</h4>
          }
        </div>
      </div>
    }
  </div>
}
