@if (content) {
  <div class="carousel-container" #carouselContainer [style.transform]="translate">
    @for (banner of content.section[0].banners; track $index) {
      <div class="img-container" [style.maxWidth]="viewportWidth <= 1024 ? 'auto' : setImageDimension(banner)">
        <img
          [class]="banner.largeBanner ? 'image-large' : 'image-small'"
          [src]="viewportWidth <= 1024 ? banner.mobileImageUrl : banner.webImageUrl"
          (click)="navigate(banner.route)"
        />
      </div>
    }
  </div>

  @if (bannerWidths.length * 220 >= 660) {
    <div class="arrow-left">
      <img (click)="previousImage()" src="https://zoommer.ge/icons/slider-left-btn.svg" />
    </div>
    <div class="arrow-right">
      <img (click)="nextImage()" src="https://zoommer.ge/icons/slider-right-btn.svg" />
    </div>
  }
}
