:host {
  height: 342px;
  overflow: hidden;
  position: relative;
  width: 100%;

  .carousel-container {
    width: 894px;
    display: flex;
    height: 342px;
    gap: 30px;
    align-items: flex-start;
    transition: all 0.3s ease;

    .img-container {
      height: 340px;
      width: 100%;
      flex-shrink: 0;

      img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
        overflow-clip-margin: unset;
      }
    }
  }

  .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translate(-50%, -50%);

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
      border-radius: 50%;

      &:first-child {
        margin-left: 1%;
      }

      &:last-child {
        margin-right: 1%;
      }
    }
  }

  .skeleton {
    height: 342px;
    width: 894px;
  }
}
