:host {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
  margin-top: 30px;

  .primary-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    margin-bottom: 40px;
  }

  .skeleton-category {
    height: 342px;
    width: 246px;
  }

  .skeleton-carousel {
    height: 342px;
    width: 895px;
  }
}
