@use '../../../../styles.scss' as *;

:host {
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .inputs {
      position: relative;
      display: grid;
      grid-template-columns: 85px 1fr;
      column-gap: 11px;
      transition: 0.3s;

      .country-code {
        width: 100%;
        height: 100%;
        background-color: $gray-primary;
        border-radius: 12px;
        cursor: pointer;
        position: relative;

        .c {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 14px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          border-radius: 12px;
          z-index: 1;
          line-height: 17px;
          color: rgba($black-main, 0.6);
          @include medium;
        }

        .selected-country {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          font-family: Roboto, sans-serif;
          font-weight: 200;
        }

        ul {
          outline: none;
          z-index: 1;
          list-style: none;
          position: absolute;
          padding: 0;
          margin: 10px 0 10px -1px;
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.35);
          background-color: $white-main;
          width: 300px;
          max-height: 200px;
          overflow-y: scroll;
          left: 0;
          border-radius: 14px;
          top: 54px;

          @media (width <= 340px) {
            width: 289px;
          }

          .search {
            padding-top: 8px;
            background: $white-main;
            position: sticky;
            top: 0;

            input {
              border: 1px solid #cacaca;
              border-radius: 10px;
              width: 287px;
              font-size: 15px;
              line-height: 15px;
              margin-left: 6px;
              padding: 3px 8px 5px;
              outline: none;

              @media (width <= 340px) {
                width: 277px;
              }
            }
          }

          .no-entries-message {
            padding: 7px 10px 11px;
            opacity: 0.7;
            font-size: 15px;
            font-family: Roboto, sans-serif;
          }

          .country {
            padding: 7px 9px;
            cursor: pointer;

            &:hover {
              background: $gray-primary;
            }

            .country-name {
              margin-right: 6px;
              font-size: 15px;
              font-family: Roboto, sans-serif;
            }

            .dial-code {
              color: #6b6b6b;
              font-size: 15px;
              font-family: Roboto, sans-serif;
            }
          }
        }
      }

      .phone {
        position: relative;
        box-sizing: border-box;
        height: 50px;
        min-height: 50px;
        border-radius: 12px;
        margin: 0px;
        transition: 0.3s;
        border: none;
        background: $gray-primary;
        cursor: text;

        label {
          display: block;
          letter-spacing: 0px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          align-items: center;
          transition: 0.175s ease-out;
          max-width: calc(100% - 1.25rem);
          color: rgba($black-main, 0.6);
          padding-left: 16px;
          padding-right: 0.7rem;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          @include medium;
          cursor: text;

          &.active {
            transform: translateY(-1.2rem);
            font-size: 12px;
          }
        }

        input {
          border: none;
          outline: none;
          width: calc(100% - 16px);
          left: 16px;
          padding-right: 0.7rem;
          font-size: 0.813rem;
          color: $black-main;
          appearance: none;
          background: transparent;
          position: absolute;
          top: 50%;
          line-height: 1;
          font-weight: 500;
          -moz-appearance: textfield;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          @include medium;
        }

        &:focus-within label {
          transform: translateY(-1.2rem);
          font-size: 12px;
        }
      }

      .msg {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: rgba($red-main, 0.8);
        position: absolute;
        top: 110%;
        left: 2%;
        @include bold;
      }
    }

    .terms-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
      transition: 150ms;

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: rgba($black-main, 0.6);
        @include medium;

        a {
          color: $orange-main;
          @include medium;
          text-decoration: none;
        }
      }
    }

    button {
      min-height: 50px;
      background: $orange-main;
      border-radius: 12px;
      padding: 16px;
      border: none;
      cursor: pointer;
      pointer-events: auto;

      &.disabled {
        pointer-events: none;
        color: rgba($black-main, 0.26);
        opacity: 0.6;
        cursor: default;
      }

      h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $white-main;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        @include bold;
      }
    }
  }
}

.flag-c {
  margin-top: 2px;
}
