<section>
  @if (promotionDetail) {
    <img [src]="promotionDetail.item.desktopImageUrl" />
    <div class="container">
      <div class="content">
        <div class="title">
          <p>{{ promotionDetail.item.name }}</p>
        </div>
        <div class="categories" #product [style.justifyContent]="justifyContent">
          <h4 [class]="categoryIds.length < 1 ? 'active' : 'inActive'" (click)="categoryIds = []" translate="all"></h4>
          @for (category of promotionDetail.categories; track $index) {
            <h4
              [class]="categoryIds.includes(category.id) ? 'active' : 'inActive'"
              (click)="toggleCategoryId(category.id)"
              [style.animationDelay.s]="$index * 0.02"
            >
              {{ category.name }}
            </h4>
          }
        </div>
        <div class="products">
          @for (product of promotionDetail.items; track $index) {
            <app-templ-product
              [imageUrl]="product.imageUrl"
              [labelText]="product.labelText"
              [productName]="product.name"
              [productPrice]="product.price"
              [productSalePrice]="product.previousPrice ?? 0"
              [route]="[product.route]"
            ></app-templ-product>
          }
        </div>
        @if (promotionDetail.items.length >= 48 && !nextEmpty) {
          <button class="next" (click)="nextPage()">
            @if (!showLoader) {
              <h4 translate="seeMore"></h4>
            } @else {
              <app-pulse-loader color="#ec5e2a"></app-pulse-loader>
            }
          </button>
        }
      </div>
    </div>
  }
</section>
