@if (verify) {
  <form [formGroup]="verify" (submit)="onSubmit()">
    <div class="inputs">
      <div
        class="code"
        (click)="focusCode()"
        [style.border]="showError || wrongCode || displayMsg ? '1px solid rgb(255, 0, 0)' : '0px solid rgb(255, 0, 0)'"
        [style.backgroundColor]="showError || wrongCode || displayMsg ? '#fff' : '#f2f2f2'"
      >
        <input #code type="number" formControlName="code" (input)="inputChange()" />
        <label translate="enterCode" [class.active]="this.verify.get('code')?.value"></label>
      </div>
      <div class="msg">{{ displayMsg }}</div>
    </div>
    <div class="utils">
      <h4 (click)="authService.setLoginTypeNumber()">&lt; {{ 'goBack' | translate }}</h4>
      <div class="resend-container">
        <div class="resend" (click)="resendCode()">
          <img
            [class.spinning]="loadResend"
            [style.display]="codeSent ? 'none' : 'block'"
            src="https://zoommer.ge/icons/resend.svg"
          />
          <h4
            [translate]="resendResponse"
            [style.color]="codeSent ? (data?.success ? '#369260' : 'rgb(255,0,0)') : '#000'"
          ></h4>
        </div>
      </div>
    </div>
    <button type="submit">
      @if (!showLoading) {
        <h4 translate="sendCode"></h4>
      } @else {
        <app-pulse-loader color="#fff"></app-pulse-loader>
      }
    </button>
  </form>
}
