<div class="sections">
  @if (content) {
    @for (section of content.section; let secIndex = $index; track $index) {
      @if (section.orderNumber > -1) {
        @if (section.sectionType === 5 || section.sectionType === 1) {
          <section class="section-slider-one">
            <h4 class="title">{{ section.title }}</h4>
            <div class="slider-one">
              <div class="section-one-container" [style.transform]="'translateX(-' + getOffset(secIndex) + 'px)'">
                @for (product of section.products; track $index) {
                  <app-templ-product [route]="[product.route]" [product]="product"></app-templ-product>
                }
              </div>
            </div>
            @if (section.products && section.products.length >= 6) {
              <div class="arrow-left">
                <img (click)="previousImage(secIndex)" src="https://zoommer.ge/icons/slider-left-btn.svg" />
              </div>
              <div class="arrow-right">
                <img (click)="nextImage(secIndex)" src="https://zoommer.ge/icons/slider-right-btn.svg" />
              </div>
            }
          </section>
        }

        @if (section.sectionType === 3 && !section.isScroll) {
          <section
            [ngClass]="{
              'section-banner-one': section.bannerTemplateRowNumber === 1 && section.colorValue === '#000000',
              'section-banner-three': section.bannerTemplateRowNumber === 2 && section.colorValue === '#000000',
              'section-banner-two': section.colorValue != '#000000',
            }"
            [style.backgroundColor]="section.colorValue != '#000000' ? section.colorValue : null"
          >
            @for (banner of section.banners; track $index) {
              <div class="banner-container">
                <img class="banner" [src]="banner.webImageUrl" (click)="navigate(banner.route)" />
              </div>
            }
          </section>
        }

        @if (section.sectionType === 3 && section.isScroll) {
          <section
            class="section-slider-two"
            [style.backgroundColor]="section.colorValue != '#000000' ? section.colorValue : null"
          >
            <div class="slider-two">
              <div class="slider-two-container" [style.transform]="'translateX(-' + getOffset(secIndex) + 'px)'">
                @for (item of section.banners; track $index) {
                  <img
                    (click)="navigate(item.route)"
                    [src]="viewportWidth <= 1024 ? item.mobileImageUrl : item.webImageUrl"
                  />
                }
              </div>
            </div>
            <div class="arrow-left">
              <img (click)="previousImage(secIndex)" src="https://zoommer.ge/icons/slider-left-btn.svg" />
            </div>
            <div class="arrow-right">
              <img (click)="nextImage(secIndex)" src="https://zoommer.ge/icons/slider-right-btn.svg" />
            </div>
          </section>
        }
      }
    }
  }
</div>
