<section>
  <div class="title">
    <h1 translate="allCategories"></h1>
  </div>
  @if (allCategories) {
    <div class="container">
      @for (category of allCategories; track $index) {
        <div class="parent" [style.animationDelay.s]="$index * 0.1">
          <h4 class="parent-h4" (click)="navigateTo(['/', category.url])">{{ category.name }}</h4>
          @for (child of category.childCategories; track $index) {
            <p (click)="navigateTo(['/', child.url])">{{ child.name }}</p>
          }
        </div>
      }
    </div>
  }
</section>
