@if (specifications) {
  <aside class="filters" [class]="filterOpen ? 'open' : 'closed'">
    <div class="clear">
      <img class="close" src="https://zoommer.ge/icons/close.svg" (click)="filterOpen = false" />
      <h4 translate="filter"></h4>
      <div (click)="clearFilters()" class="interact">
        <img src="https://zoommer.ge/icons/clear.svg" />
        <h4 translate="clear"></h4>
      </div>
    </div>
    <div class="slider">
      <div class="slider-label" (click)="tooglePrice()">
        <h4 translate="price"></h4>
        <img src="https://zoommer.ge/icons/accordion-arrow.svg" />
      </div>

      <div class="container" [style.maxHeight]="showPrice ? '142px' : 0" [class.active]="!showPrice">
        <div class="slider-container">
          @if (specifications) {
            <ngx-slider
              [(value)]="minValue"
              [(highValue)]="maxValue"
              [options]="options"
              (userChange)="onUserChange($event.value, $event.highValue)"
              (userChangeEnd)="onUserChangeEnd($event.value, $event.highValue)"
            ></ngx-slider>
          }
        </div>

        <div class="prices">
          <div class="price-min">
            <h4>MIN:</h4>
            <input type="number" [(ngModel)]="minValue" (keydown)="preventText($event)" />
            <div>₾</div>
          </div>
          <div class="price-max">
            <h4>MAX:</h4>
            <input type="number" [(ngModel)]="maxValue" (keydown)="preventText($event)" />
            <div>₾</div>
          </div>
        </div>
      </div>
    </div>
    <div class="specifications">
      @for (specification of specifications; track $index) {
        <div class="container">
          <div class="specification" (click)="specification.active = !specification.active">
            <h4>
              {{ specification.name }}
            </h4>
            <img src="https://zoommer.ge/icons/accordion-arrow.svg" />
          </div>
          <div
            class="values"
            [ngClass]="{ active: !specification.active }"
            [style.maxHeight]="
              specification.active
                ? specification.showAll === false
                  ? '196px'
                  : specification.active
                    ? getValuesHeight($index)
                    : 0
                : 0
            "
          >
            @for (value of specification.values; track $index) {
              @if (value.valueUrlFriendly != 'n-a') {
                <div (click)="setQuery(specification.nameUrlFriendly, value.valueUrlFriendly)" class="value">
                  <img
                    [src]="
                      getQuery(specification.nameUrlFriendly, value.valueUrlFriendly)
                        ? 'https://zoommer.ge/icons/filter-checkbox-active.svg'
                        : 'https://zoommer.ge/icons/filter-checkbox-disabled.svg'
                    "
                  />
                  <h4>{{ value.value }}</h4>
                </div>
              }
            }
          </div>

          @if (specification.valuesAmount > 5) {
            <h4
              [ngClass]="{ active: !specification.active }"
              (click)="specification.showAll = !specification.showAll"
              class="show"
            >
              {{ specification.showAll ? ('seeLess' | translate) : ('seeMore' | translate) }}
            </h4>
          }
        </div>
      }
    </div>
  </aside>
} @else {
  <div class="skeleton">
    <content-loader class="product-skelet" [viewBox]="'0 0 350 2000'">
      <svg:rect x="0" y="0" rx="4" ry="4" width="350" height="20" fill="currentColor" />
      <svg:rect x="0" y="42" rx="4" ry="4" width="350" height="2" fill="currentColor" />
      <svg:rect x="0" y="66" rx="4" ry="4" width="150" height="42" fill="currentColor" />
      <svg:rect x="200" y="66" rx="4" ry="4" width="150" height="42" fill="currentColor" />
      <svg:rect x="0" y="130" rx="4" ry="4" width="350" height="2" fill="currentColor" />

      <svg:rect x="0" y="154" rx="4" ry="4" width="250" height="20" fill="currentColor" />
      <svg:rect x="0" y="194" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="234" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="274" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="314" rx="4" ry="4" width="120" height="20" fill="currentColor" />

      <svg:rect x="0" y="354" rx="4" ry="4" width="300" height="20" fill="currentColor" />
      <svg:rect x="0" y="394" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="434" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="474" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="514" rx="4" ry="4" width="120" height="20" fill="currentColor" />

      <svg:rect x="0" y="554" rx="4" ry="4" width="300" height="20" fill="currentColor" />
      <svg:rect x="0" y="594" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="634" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="674" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="714" rx="4" ry="4" width="120" height="20" fill="currentColor" />

      <svg:rect x="0" y="754" rx="4" ry="4" width="300" height="20" fill="currentColor" />
      <svg:rect x="0" y="794" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="834" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="874" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="914" rx="4" ry="4" width="120" height="20" fill="currentColor" />

      <svg:rect x="0" y="954" rx="4" ry="4" width="300" height="20" fill="currentColor" />
      <svg:rect x="0" y="994" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="1034" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="1074" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="1114" rx="4" ry="4" width="120" height="20" fill="currentColor" />

      <svg:rect x="0" y="1154" rx="4" ry="4" width="300" height="20" fill="currentColor" />
      <svg:rect x="0" y="1194" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="1234" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="1274" rx="4" ry="4" width="120" height="20" fill="currentColor" />
      <svg:rect x="0" y="1314" rx="4" ry="4" width="120" height="20" fill="currentColor" />
    </content-loader>
  </div>
}
